table.table-fmt1 td {
  text-align:center; 
  vertical-align:middle; 
}

table.table-fmt1 th {
  text-align:center; 
  border: #000 solid; 
  border-width: 0px 0px 1px 0px; 
}

.validate_tips {
  text-align:center; 
}

#id_editTemplateModal {
  width: 800px;
  margin: -250px 0 0 -400px;
}

#id_editTemplateModal .modal-body {
  max-height: 800px;
  overflow: hidden;
}

#id_settings label  {
  font-weight: bold;
}

#id_instructions label {
  font-weight: bold;
} 

table.display tr.even.row_selected td {
  background-color:#00FF99;
}

table.display tr.odd.row_selected td {
  background-color:#66FF99;
}

div.reportFigure {
  /* width: 100% ; */
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 0px;  
  margin-bottom: 0px;  
  page-break-after:always;
}

div.reportTable {
  /* width: 100% ;*/
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 5px;  
  margin-bottom: 0px;  
}

.reportTableHeading {
  margin-left: 25px ;
  margin-top: 10px;  
  margin-bottom: 0px;  
}

div.dataTables_length select {
  width:60px;
  display: inline-block;
}

div.dataTables_filter input {
  display: inline-block;
}

div#id_jobTableDiv {
  /* width: 100% ; */
  margin-left: 25px ;
  margin-right: 25px ;  
}

table#id_jobTable {
  table-layout: fixed;
  word-wrap: break-word;
}

.progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:3px; left:48%; }

@media print {
  table {font-size: 14pt;}
  body {font-size: 14pt;}
  .head {display:none;}
  .leftHead {display:none;}
  .rightHead {display:none;}
  .foot {display:none;}
  .leftFoot {display:none;}
  .rightFoot {display:none;}
}

@media screen {
  .leftHead {float:left; font-size:200%; font-weight:bold; margin:25px;}
  .rightHead {float:right; font-size:200%; font-weight:bold; margin:25px;}
  .leftFoot {float:left; font-size:120%; margin-left:25px;}
  .rightFoot {float:right; }
}
