*.pyc
*.pyo
*.pyd
*.bak
*.so
*~
target/
build/
attic/
.doit.db.*
.vscode/
.idea
node_modules/
src/main/python/Host/build_version.py
src/main/python/Host/Utilities/BuildHelper/BuildInfo.py
src/main/python/Host/Supervisor/PicarroDriver
src/main/python/AppConfig/
src/main/python/InstrConfig/
src/main/python/CommonConfig/
src/main/python/Log/
/experiments/grafana/bin/
/experiments/grafana/pkg
/experiments/grafana/src/github.com/golang
