!!! 5
html
  head
    title Investigator front page

    block scripts
      
      link(rel='stylesheet', href='/css/investigator.css')
      link(rel='stylesheet', href='/css/leaflet.css')
      link(rel='stylesheet', href='/css/picarro_bootstrap.css')
      link(rel='stylesheet', href='/css/front_page.css')
      link(rel='stylesheet', href='/css/public_url/bootstrap.min.css')
      link(rel='stylesheet', href='/css/public_url/bootstrap-responsive.min.css')

      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto+Condensed')
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oswald')

      script(src='/vendor/jquery.min.js')
      script(src='/vendor/jquery.form.js')
      script(src='/vendor/bootstrap-modal.js')
      script(src='/vendor/bootstrap-transition.js')

      script(src='/js/views/leaflet.js')
      script(src='/js/views/investigator/d3.v3.js')
      script(src='https://www.google.com/jsapi')
      script(src='/js/views/investigator/jquery-1.9.0.js')
      script(src='/js/views/investigator/jquery-ui-1.10.0.custom.js')
      script(src='/js/views/jquery.jsonp-2.4.0.min.js')
      script(src='/js/views/p3apiservice.js')
      script(src='/js/views/DateFormat.js')
      script(src='/js/views/store.js')
      script(src='/js/views/investigator/utils.js')
      script(src='/js/views/investigator/d3.v3.js')
      script(src='/js/views/public_url/bootstrap.min.js')

      script(src='/js/views/investigator/jquery.flot.min.js')
      script(src='/js/views/investigator/jquery.flot.selection.min.js')
      script(src='/js/views/investigator/jquery.flot.crosshair.js')
      script(src='http://maps.google.com/maps/api/js?sensor=false')

      script(src='/js/views/front_page/google_earth_load.js')
      script(src='/js/views/front_page/google_earth.js')
      script(src='/js/views/front_page/data_store.js')
      script(src='/js/views/front_page/front_page.js')

  body.horizontal-layout
    input(type='hidden', value= user.anz)#anz
    input(type='hidden', value= user.anzName)#anzName
    input(type='hidden', value= user.anzIdentity)#anzIdentity
    block content
      include modals/front_page