!!! 5
html
	head
		title Investigator
		link(rel='stylesheet', href='/investigator/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/investigator/css/style.css')
	body
	block content
	block scripts