
extends layout

block content
	include account
	include modals/alert

block scripts
	script(src='/investigator/vendor/jquery.min.js')
	script(src='/investigator/vendor/jquery.form.js')
	script(src='/investigator/vendor/bootstrap-modal.js')
	script(src='/investigator/vendor/bootstrap-transition.js')
	script(src='/investigator/js/views/signup.js')
	script(src='/investigator/js/controllers/signupController.js')
	script(src='/investigator/js/form-validators/accountValidator.js')