extends layout

block content
    h1 Picarro Surveyor Report Generation Portal
    p This will be the landing page for Surveyor Report Generation

    h2 Sample Report
    ul
        li: a(href="/getReport/5c9de55f540beb55187393b175a9753c/1362294524619", 
            title="Development") Development
        li: a(href="/getReport/5c9de55f540beb55187393b175a9753c/1362294524619?type=summary", 
            title="Summary") Summary
        li: a(href="/getReport/5c9de55f540beb55187393b175a9753c/1362294524619?type=submaps&row=1&col=1",
            title="Submap") Submap
