extends layout

block content
    h1 Picarro Surveyor Report Generation Portal
    p This will be the landing page for Surveyor Report Generation

    h2 Sample Report
    ul
        li: a(href="/getReport/ff6c3e6c7339a0b0bf335df94d1c9395/1362629585957", 
            title="Development") Development
        li: a(href="/getReport/ff6c3e6c7339a0b0bf335df94d1c9395/1362629585957?type=summary", 
            title="Summary") Summary
        li: a(href="/getReport1/ff6c3e6c7339a0b0bf335df94d1c9395/1362629585957", 
            title="Sample") Sample
