extends layout

block content
    h1 Picarro Surveyor Report Generation Portal
    p This will be the landing page for Surveyor Report Generation

    h2 Sample Report
    ul
        li: a(href="/getReport/4344f8d8c0faa1e223334ec575b89454/1362559733772", 
            title="Development") Development
        li: a(href="/getReport/4344f8d8c0faa1e223334ec575b89454/1362559733772?type=summary", 
            title="Summary") Summary
        li: a(href="/getReport/4344f8d8c0faa1e223334ec575b89454/1362559733772?type=submaps&row=1&col=1",
            title="Submap") Submap
