extends layout_require

block scripts
    script(type='text/javascript', data-main='/js/app/indexMain.js', src='/js/require-jquery.js')

block content
    body(style="min-width:1100px")
        div.container-fluid
            div.row-fluid
                div.span12
                    h1 Picarro Surveyor Report Generation Portal
                    div#id_settings
                        label(for="id_timezone")
                            | Time zone
                        input#id_timezone(type="text",readonly="readonly",style="margin-top:10px")
                        a.btn.btn-inverse(href="#id_timezoneModal",role="button",data-toggle="modal")
                            | Select
                        div#id_timezoneModal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="id_timezoneModalLabel",
                            aria-hidden="true")
                            div.modal-header
                                button.close(type="button", data-dismiss="modal", aria-hidden="true") x
                                h3#id_timezoneModalLabel Click on map to select time zone
                            div.modal-body
                                include timezone_picker
                            div.modal-footer
                                button#id_save_timezone.btn.btn-primary(data-dismiss="modal", aria-hidden="true")
                                    | Save changes
                                button.btn(data-dismiss="modal", aria-hidden="true")
                                    | Cancel
                    h2 Dashboard
                    div#id_submittedJobs
                        div#id_jobTableDiv
                        br
                        div(style="float:left")
                        button#id_testAdd(type="button", style="float:left; margin:20px", class="btn btn-primary")
                            | Add Row
                        button#id_testRemove(type="button", style="float:left; margin:20px", class="btn btn-primary")
                            | Remove Row
                        button#id_testUpdate(type="button", style="float:left; margin:20px", class="btn btn-primary")
                            | Update Row

            h2 Job Preparation
            div#id_instructionsfiles.row-fluid
                div.span6
                    h2 Instructions
                    div.custom_file_upload
                        input#id_instr_upload_name.file(type="text", name="file_info", readonly)
                        div.btn-primary.file_upload
                            input#id_instr_upload.fileinput(type="file", name="files[]")
                    p Browse for an instructions file or drag a file onto here.
                div.span6
                    h2 Actions
                    div
                        button#id_make_report.btn.btn-large.btn-primary(type="button", style="float:left")
                            | Make Report
                    div
                        button#id_save_instructions.btn.btn-inverse(type="button", style="float:left; margin:5px; margin-left:20px")
                            | Save Instructions
            div#id_instructions.row-fluid
                div.span12
                    div.row-fluid
                        div.span11
                            label(for="id_title")
                                | Title
                            input#id_title(type="text", placeholder="Title", style="width:100%")
                        div.span1
                            label(for="id_make_pdf")
                                | Make PDF
                            input#id_make_pdf(type="checkbox")
                    div.row-fluid
                        div.span3
                            label(for="id_seCorner")
                                | SE Corner
                            input#id_seCorner(type="text", placeholder="SE Corner", style="width:100%")
                        div.span3
                            label(for="id_nwCorner")
                                | NW Corner
                            input#id_nwCorner(type="text", placeholder="NW Corner", style="width:100%")
                        div.span2
                            label(for="id_peakMinAmp")
                                | Peaks Min Amp
                            select#id_peakMinAmp(style="width:100%")
                        div.span2
                            label(for="id_exclRadius")
                                | Exclusion Radius
                            select#id_exclRadius(style="width:100%")
                        div.span2
                            div(style="float:left")
                                label(for="id_submapsRows")
                                    | Rows
                                input#id_submapsRows(type="text")
                            div(style="float:left; margin-left:15px;")
                                label(for="id_submapsColumns")
                                    | Columns
                                input#id_submapsColumns(type="text")
                    div.row-fluid
                        div.span12
                            h2 Runs
                            div#id_runs_table_div
                    div#id_modal.modal.hide.fade(data-backdrop="static")

            div.row-fluid
                div.span12
                    h2 Sample Report
                    ul
                        li: a(href="/getReport/9bf749d4cb7bda829ce53d1d84d5e79a/1362715621576", 
                            title="Development") Development