!!!5
html(lang='en')
    head
        title Picarro Surveyor Report Generation
        
        link(rel='stylesheet', href='/css/picarro_bootstrap.css')
        link(rel='stylesheet', href='/css/bootstrap-spinedit.css')
        link(rel='stylesheet', href='/css/jquery.dataTables.css')
        script(type='text/javascript', src='/js/lib/jquery.js')
        script(type='text/javascript', src='/js/lib/json2.js')
        script(type='text/javascript', src='/js/lib/geohash.js')
        script(type='text/javascript', src='/js/lib/bootstrap-modal.js')
        script(type='text/javascript', src='/js/lib/bootstrap-dropdown.js')
        script(type='text/javascript', src='/js/lib/bootstrap-spinedit.js')
        script(type='text/javascript', src='/js/lib/bootstrap-transition.js')
        script(type='text/javascript', src='/js/lib/jquery.dataTables.min.js')
        script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?sensor=false')

        block scripts
    block content
