!!!5
html(lang='en')
    head
        title Picarro Surveyor Report Generation
        
        link(rel='stylesheet', href='/css/picarro_bootstrap.css')
        link(rel='stylesheet', href='/css/bootstrap-spinedit.css')
        link(rel='stylesheet', href='/css/jquery.dataTables.css')

        block scripts
    block content
