extends layout

block scripts
    script(type='text/javascript', src='/js/app/summary.js')
    script(type='text/javascript')
        var TEMPLATE_PARAMS = {
            ticket: "#{hash}",
            ts: #{ts}
        };

block content
    h1 Summary page
    //h2 Contents of #{hash}/#{ts}/key.json
    //p#keyContents
    h2 Report
    form.form-inline
        fieldset
            span.help-block
                h2 Select layers to display
            div#checkboxdiv(style='position:relative')
            label Min Amp&nbsp
                input#spinEditAmp(type='text')
    div#canvasesdiv(style='position:relative')
