!!!5
html(lang='en')
    head
        title P3RestApi tests
        link(rel='stylesheet', href='/css/mocha.css')
    body
        div#mocha
        script(type='text/javascript', data-main='/js/test/testP3RestApiMain.js', src='/js/require-jquery.js')
