{% extends "reportBase.html" %}

{% block head %}
    <title>Surveyor Report Generation</title>
    <script type="text/javascript" src="{{ url_for('static',filename='scripts/bootstrap-modal.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='scripts/bootstrap-dropdown.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='scripts/bootstrap-spinedit.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='scripts/bootstrap-transition.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='scripts/geohash.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='scripts/displayReport.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='scripts/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='scripts/underscore-min.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static',filename='css/jquery.dataTables.css') }}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static',filename='css/bootstrap-spinedit.css') }}" />
    <style>
        table.table-fmt1 td {text-align:center; vertical-align:middle; }
        table.table-fmt1 th {text-align:center; border: #000 solid; border-width: 0px 0px 1px 0px; }
    </style>
    <script type="text/javascript">
        var TEMPLATE_PARAMS = {
            region: {{ region }},
            ticket: "{{ ticket }}",
            necorner: "{{ necorner }}",
            swcorner: "{{ swcorner }}"
        };
    </script>
{% endblock %}


{% block body %}
<form class="form-inline"><fieldset><span class="help-block"><h2>Select layers to display</h2></span>
<div id="checkboxdiv" style="position:relative"></div>
<label>Submaps Y&nbsp;<input type="text" id="spinEditRows"></label>
<label>Submaps X&nbsp;<input type="text" id="spinEditCols"></label>
<label>Min Ampl&nbsp;<input type="text" id="spinEditAmpl"></label>
</fieldset></form>
<div id="canvasesdiv" style="position:relative"></div>
<div id="submaplinks"></div>
<h2>Methane Peaks</h2>
<div id="peakstablediv"></div>
<h2>Runs</h2>
<div id="runstablediv"></div>
<h2>Surveys</h2>
<div id="surveystablediv"></div>
<div id="canvases2div" style="position:relative"></div>
<div id="canvases3div" style="position:relative"></div>
{% endblock %}
