{% extends "layoutBackpack.html" %}
{% block head %}
    <script type="text/javascript">
    
    function callJSONRPC(method,params,success_callback,error_callback) {
        var request = {
            "method": method,
            "params": params,
            "id": 1
        };
        jQuery.ajax( {contentType:"application/json",
                      data:$.toJSON(request),
                      dataType:"json",
                      url:"/jsonrpc",
                      type:"post",
                      success: success_callback,
                      error: error_callback} );
    }
	
	var fileRow = 1;
    function onTimer() {
        callJSONRPC("getData",[{"startRow":fileRow}],
                    function(data,ts,jqXHR) {
                        var i;
                        if ("CH4" in data.result) {
                            ch4 = data.result["CH4"];
                            n = ch4.length;
                            if (n>0) $("#concData").html(ch4[n-1].toFixed(2) + " ppm"); 
                            fileRow = data.result["NEXT_ROW"];
                        }
                        timer1 = setTimeout(onTimer,1000);                        
                    },
                    function(jqXHR,ts,et) {  
                        $("#errors").html(jqXHR.responseText); 
                        timer1 = setTimeout(onTimer,1000);                        
                    });
    }                
    
    function initialize() {
        timer1 = setTimeout(onTimer,2000)
    };
    $(initialize)
    </script>
{% endblock %}

{% block body %}
<div style="width:100%; height:20%; float:left;">
<p id="placeholder"></p>
<p id="concData" class="centered" style="font-family:Georgia;font-size:400%;font-weight:bold;color:black">
Concentration here</p>
</div>
{% endblock %}
