<!doctype html>
<html>
    <head>
        <title>Plat table</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static',filename='css/demo_page.css') }}" />
        <link rel=stylesheet type=text/css href="{{ url_for('static',filename='css/demo_table.css') }}" />
        <script type="text/javascript" src="{{ url_for('static',filename='jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='jquery.dataTables.min.js') }}"></script>
        <script type="text/javascript" charset="utf-8"></script>
        <link rel=stylesheet type=text/css href="{{ url_for('static',filename='css/jquery.dataTables.css') }}" />
        <script type="text/javascript" language="javascript">
            $(document).ready(function() {
                $('#example').dataTable({
                    "bProcessing":true,
                    "sAjaxSource":"/rest/platBoundaries",
                });
            });
        </script>
    </head>
    <body id="dt_example" class="ex_highlight_row">
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
            <thead>
                <tr>
                    <th>Plat Name</th>
                    <th>Min longitude</th>
                    <th>Min latitude</th>
                    <th>Max longitude</th>
                    <th>Max latitude</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </body>
</html>



