<!doctype html>
<html>
    <head>
        <title>Experiments with sprites</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static',filename='css/sprites.css') }}" />
    </head>
    <body>
        <ul id="nav_buttons">
        <li id="button2"><a href="#"><span>Button 2</span></a></li>
        <li id="button1"><a href="#"><span>Button 1</span></a></li>
        <li id="button4"><a href="#"><span>Button 4</span></a></li>
        <li id="button3"><a href="#"><span>Button 3</span></a></li>
        </ul>    
    </body>
    <form method="POST">
    <input type="text" name="foo"></input>
    <input type="submit" value="Send"></input>
    </form>
</html>    
