{% extends "layout.html" %}

{% block head %}
    <script type="text/javascript">
    var _par = {"center_latitude":{{ center_latitude }}, 
                "center_longitude":{{ center_longitude }} };
    </script>
    <script type="text/javascript" src="{{ url_for('static',filename='mapsApplication.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div id="id_sidebar" class="sidebar">
            <span>

            <div class="topicon" id="id_topleft">
                <div id="id_p3_icon">
                    <img alt="Picarro" src="/static/images/pcube_ppp_logo_60.png" />
                </div>
            </div>
           <br /><br /><br />
           </span>
           <div class="row"><br /><br /></div>
            <div class="row">
                <span>
                    <form id="setoptions" method="get">
                        <br />
                        <fieldset>
                            <div class="clearfix">
                                <ul class="inputs-list">
                                <span id="concentrationSparkline">Loading..</span>
                                <br />
                                <table width="80%" border="0">
                                    <tr>
                                    <td align="left"><b><div id="id_stream_stat">Stream OK</div></b></td>
                                    <td align="left"><b><div id="id_analyzer_stat">Analyzer OK</div></b></td>
                                    <td align="left"><b><div id="id_gps_stat">GPS OK</div></b></td>
                                    </tr>
                                </table>
                                <li>
                                <label for="follow">Follow</label>
                                <input type="checkbox" id="id_follow" name="follow" checked="checked" onclick="changeFollow();" style="height: 40px; width: 40px;"/>
                                </li>
                                <br />
                                <li class="input">
                                <label for="id_amplitude_btn">Minimum Amplitude</label>
                                <button id="id_amplitude_btn" type="button" value="_" class="btn large" onclick="requestMinAmpChange();"></button>
                                <span id="amplitudeErr"></span>
                                </li>
                                <br />
                                <li>
                                    <button class="btn primary large" type="button" id="restart_log" name="Restart Log" onclick="restart_datalog();">Restart Log</button>
                                </li>
                                <br />
                                <li>
                                    <button class="btn primary large" type="button" id="shutdown" name="Shut Down Analyzer" onclick="shutdown_analyzer();">Shut Down Analyzer</button>
                                </li>
                                <br />
                                <li>
                                    <button class="btn primary large" type="button" id="calibrate" name="calibrate" onclick="injectCal();">Calibrate</button>
                                </li>
                                <br />
                                <h2 id="mode">Survey Mode</h3>
                                <br />
                                <li>
                                    <button class="btn primary large" type="button" id="capture" name="capture" onclick="captureSwitch();">Switch to Capture Mode</button>
                                </li>
                                <li>
                                    <button class="btn primary large" type="button" id="cancel" name="cancel" onclick="cancelCapSwitch();">Cancel Capture</button>
                                </li>
                                <br />
                                <p id="analysis">Analysis result here</p>
                                <input type="hidden" id="center_longitude" name="center_longitude" value="{{ center_longitude }}"/>
                                <input type="hidden" id="center_latitude"  name="center_latitude"  value="{{ center_latitude }}"/>
                                </ul>
                            </div>
                        </fieldset>
                    </form>
                </span>
            </div>
        </div>

        <div id="id_content" class="content">
            <span>
                <div class="topbar-wrapper" id="id_topright">
                    <div class="topbar" id="id_topbar">
                        <div><ul class="nav secondary-nav"><li class="menu">
                            <a href="#"><span>Prime User</span></a></li></ul></div>
                    </div>
                </div>
            </span>
            <div id="id_content_title">
                <br /><br />
                <h2>Gas Detection Utility</h2>
                <br />
            </div>
            <span>
                <div class="row">
                    <div id="id_feedback">
                        <div class="span4 columns" id="id_msg_placeholder">
                            <div id="id_msg"></div>
                            <div id="id_modal"></div>
                            <div id="id_mod_change"></div>
                            <div id="placeholder"><img alt="Initializing Route Trace" src="/static/images/ajax-loader.gif" /></div>

                        </div>
                        <div class="span5 columns" id="concData"></div>
                        <div class="span3 columns" id="counter"></div>
                    </div>
                    <br />
                    <div style="width:100%; top: 5px; bottom: 5px;" id="map_canvas"></div>
                </div>		
            </span>
        </div>
    </div>
{% endblock %}
