{% extends "layout.html" %}
{% block head %}
    <script type="text/javascript">
    var map;
    var startTime;
    var trange = 0;
    var marker = null;
    var peakMarkers = new Array();
    var path = null;
    var ignoreTimer = false;
    var ignoreRequests = false;
    var speedUp = 5.0;
    var timer1;
    var counter = 0;
    var leakLine = 1;
    var minAmp = {{ amplitude }};
    var startPos = null;
    
    function callJSONRPC(method,params,success_callback,error_callback) {
        var request = {
            "method": method,
            "params": params,
            "id": 1
        };
        jQuery.ajax( {contentType:"application/json",
                      data:$.toJSON(request),
                      dataType:"json",
                      url:"/jsonrpc",
                      type:"post",
                      success: success_callback,
                      error: error_callback} );
    }
    
    function call_rest(method,params,success_callback,error_callback) {
        jQuery.ajax( {contentType:"application/json",
                      data:$.param(params),
                      dataType:"jsonp",
                      url:"/rest/" + method,
                      type:"get",
                      success: success_callback,
                      error: error_callback} );
    }
       
    function onTimer() {
        if (ignoreTimer) return;
        getMode();
    };
    
    var modeStrings = {0:"Survey Mode", 1:"Capture Mode", 2:"Capture Mode", 3:"Analyzing Peak"};
    var modeShow = {0:"#capture",     1:"#cancel",        2:"#cancel",       3:"#cancel"};
    var modeHide = {0:"#cancel",      1:"#capture",       2:"#capture",      3:"#capture"};
    
    function getMode() {
        call_rest("driverRpc",{"func":"rdDasReg","args":"['PEAK_DETECT_CNTRL_STATE_REGISTER']"},
                    function(data,ts,jqXHR) {
                        if ("value" in data.result) {
                            var mode = data.result["value"]
                            $("#mode").html(modeStrings[mode]);
                            $(modeShow[mode]).show();
                            $(modeHide[mode]).hide();                            
                        }
                        getData();
                    },
                    function(jqXHR,ts,et) {  
                        $("#errors").html(jqXHR.responseText); 
                        getData();
                    });
    };
    
    function getData() {
        call_rest("getData",{"startPos":startPos},
                    function(data,ts,jqXHR) {
                        counter += 1;
                        $("#counter").html("Counter: " + counter);
                        if ("timeStrings" in data.result) {
                            timeStrings = data.result["timeStrings"];
                            $("#placeholder").html(timeStrings[timeStrings.length-1]);
                            lat = data.result["GPS_ABS_LAT"];
                            lon = data.result["GPS_ABS_LONG"];
                            ch4 = data.result["CH4"];
                            startPos = data.result["lastPos"];
                            n = ch4.length;
                            if (n>0) {
                                $("#concData").html("Current concentration " + ch4[n-1].toFixed(3) + " ppm"); 
                                pathCoords = path.getPath();
                                for (i=1;i<n;i++) {
                                    pathCoords.push(new google.maps.LatLng(lat[i],lon[i]));
                                }                            
                                if (marker) marker.setMap(null);
                                where = new google.maps.LatLng(lat[n-1],lon[n-1]);
                                marker = new google.maps.Marker({position:where});
                                if ({{ follow }}) map.setCenter(where);
                                marker.setMap(map);
                            }
                        }
                        showLeaks();
                    },
                    function(jqXHR,ts,et) {  
                        $("#errors").html(jqXHR.responseText); 
                        showLeaks();
                    });
    }                
    
    function showLeaks() {
        call_rest("getPeaks",{"startRow":leakLine,"minAmp":minAmp},
                    function(data,ts,jqXHR) {
                        var i;
                        if ("ch4" in data.result) {
                            lat = data.result["lat"];
                            lon = data.result["long"];
                            ch4 = data.result["ch4"];
                            amp = data.result["amp"];
                            sigma = data.result["sigma"];
                            leakLine = data.result["nextRow"];
                            for (i=0;i<ch4.length;i++) {
                                peakCoords = new google.maps.LatLng(lat[i],lon[i]);
                                size = Math.pow(amp[i],1.0/4.0)
                                fontsize = 20.0*Math.pow(amp[i],1.0/4.0)
                                peakMarker = new google.maps.Marker({position:peakCoords,title:"Amp: "+amp[i].toFixed(2)+" HalfWidth: "+sigma[i].toFixed(1),
                                                                     icon:"http://chart.apis.google.com/chart?chst=d_map_spin&chld="+size+"|0|40FFFF|"+fontsize+"|b|" + ch4[i].toFixed(1)});
                                peakMarker.setMap(map);
                                peakMarkers[peakMarkers.length] = peakMarker;
                            }
                        }
                        timer1 = setTimeout(onTimer,1000);                        
                    },
                    function(jqXHR,ts,et) {  
                        $("#errors").html(jqXHR.responseText); 
                        timer1 = setTimeout(onTimer,1000);                        
                    });
    }                
    
    function initialize() {
        var latlng = new google.maps.LatLng({{ center_latitude }},{{ center_longitude }});
        var myOptions = {
          zoom: 14,
          center: latlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        $("#follow").change(function(){
            if ($(this).is(':checked')) $("#do_not_follow").removeAttr('checked');
            else $("#do_not_follow").attr('checked','checked');
            $("#setoptions").submit()
        })
        $("#amplitude").change(function(){
            $("#setoptions").submit()
        })
        map = new google.maps.Map(document.getElementById("map_canvas"),
            myOptions);
        google.maps.event.addListener(map, 'center_changed', function() {
            var where = map.getCenter();
            $("#center_latitude").val(where.lat())
            $("#center_longitude").val(where.lng())
        });
        path = new google.maps.Polyline(
            {   path:new google.maps.MVCArray(),
                strokeColor:"#0000FF",
                strokeOpactity:1.0,
                strokeWeight:2  });
        path.setMap(map);
        $("#restart_log").click(function() {         
            if (confirm("Close current data log and open a new one?")) {
                call_rest("restartDatalog",{});
            }
        });
        $("#shutdown_analyzer").click(function() {
            if (confirm("Really shut down analyzer?\nNote: It can take 30 to 45 minutes to warm up.")) {
                call_rest("shutdownAnalyzer",{});
            }
        });
        $("#cancel").hide()
        $("#cancel").click(function() {
            if (confirm("Cancel capture or analysis and return to survey mode?")) {
                call_rest("driverRpc",{"func":"wrDasReg","args":"['PEAK_DETECT_CNTRL_STATE_REGISTER',0]"});
            }
        });
        $("#capture").click(function() {
            ignoreTimer = true;
            $("#mode").html(modeStrings[1]);
            call_rest("driverRpc",{"func":"wrDasReg","args":"['PEAK_DETECT_CNTRL_STATE_REGISTER',1]"});
            ignoreTimer = false;
        });
        timer1 = setTimeout(onTimer,1000);
    };
    $(initialize)
    </script>
{% endblock %}

{% block body %}
<div style="width:28%; height:85%; float:left;">

<p id="errors"></p>
<p id="placeholder">Date and Time here</p>
<p id="concData">Concentration data here</p>
<p id="counter">Counter value here</p>

<p>
In <b>survey mode</b>, instrument detects locations of enhanced methane concentration and places indicators on map.
</p>
<p>
In <b>capture mode</b>, instrument collects methane from the next peak encountered and analyzes its composition. 
</p>
<p> Note: During analysis, the instrument does not detect emissions.
</p>
<form id="setoptions" method="get">
<p>
    <label for="follow">Follow vehicle:</label>
    {% if follow %}
        <input type="checkbox" id="follow" name="follow" checked="on"/>
    {% else %}
        <input type="checkbox" id="follow" name="follow"/>
    {% endif %}
</p>
<p>
    <label for="amplitude">Min amplitude:</label>
    <input type="text" id="amplitude" name="amplitude" value="{{ amplitude }}"/>
</p>
<input type="hidden" id="center_longitude" name="center_longitude" value="{{ center_longitude }}"/>
<input type="hidden" id="center_latitude"  name="center_latitude"  value="{{ center_latitude }}"/>
{% if do_not_follow %}
    <input type="hidden" id="do_not_follow" name="do_not_follow" checked="on"/>
{% else %}
    <input type="hidden" id="do_not_follow" name="do_not_follow"/>
{% endif %}

<p>
<button type="button" id="restart_log" name="Restart Log">Restart Log</button>
</p>
<p>
<button type="button" id="shutdown_analyzer" name="Shut Down Analyzer">Shut Down Analyzer</button>
</p>
<h3 id="mode">Survey Mode</h3>
<p>
<button type="button" id="capture" name="capture">Switch to Capture Mode</button>
</p>
<p>
<button type="button" id="cancel" name="cancel">Cancel Capture and Analysis</button>
</p>
</form>
</div>
<div id="map_canvas" class="map" style="width:70%; height:90%; float:right;"></div>
{% endblock %}
