body{
	background-color: #eee;
}

.container, .navbar-static-top .container{
	background-color: white;
	width:1230px;
}

.logo-container{
	margin-top:19px;
}

.navbar .navbar-inner{
	position: relative;
	width: 1190px;
	color: black;
}

.layout-container{
	position: absolute;
	right:0;
	top:10px;
	text-align: center;
	width:270px;
}

.label_invest{
	font-weight: bold;
	font-size: 18px;
}

.label_subhead{
	color:#008b36;
	font-size: 14px;
}

.navbar-static-top,.navbar-inner{
	height:60px;
}

.main-sections hr{
	color:#00ae43;background-color:#00ae43;
	height:3px;
	margin-top: 10px;
}

.green-link{
	color: #008b36;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
	display: inline-block;
}

.p3-icon-minus, .p3-icon-plus{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("/static/images/arrow_right.png") no-repeat scroll 0 3px transparent;
}

.p3-icon-minus{
    background: url("/static/images/arrow_down.png") no-repeat scroll 0 4px transparent;
    margin-left:4px;
}

.footer-bar{
	display: inline-block;
	margin-left:-615px;
	left: 50%;
	width:1230px;
	height:6px;
	background-color:  #00ae43;
	position: absolute;
}

.footer-bar .powered-container{
    position: absolute;
    bottom: 6px;
    right: 0;
}