
body {
    margin: 0;
}

header > img {
    height: 80%;
    margin-left: 10%;
}

.column {
  float: left;
  padding: 5px;
}
/*.left-column {
  -webkit-box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.29);
-moz-box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.29);
box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.29);
}*/

.right-column {
  width: 800px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.fancyShadowAround{
-webkit-box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.29);
-moz-box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.29);
box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.29);
  
}

.InstrumentViewWraper{
  height:98%;
  top:10px;
  bottom:10px;
  right:10px;
  left:0px;
-webkit-box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.29);
-moz-box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.29);
box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.29);
}

.InstrumentsListWraper{
  top:10px;
  bottom:10px;
  left:0px;
-webkit-box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.29);
-moz-box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.29);
box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.29);
}

.RackPositionsComponent{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.NewInstrumentsComponent{
    margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.InstrumentControls{
  padding: 25px 20px 25px 40px;
  margin-top: 20px;
  height:98%;
-webkit-box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.29);
-moz-box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.29);
box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.29);
}


.instrumentControls-header {
  padding: 20px;
  text-align: left;
}

.instrumentControls-column{
  float: left;
  width: 33.33%;
  padding: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.warning-timestamp{
}


.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
}
/*
.instrumentControls-right-side{
  float: right;
  padding: 5px;
}*/


.container_row{
  display: grid;
}

.layer1, .layer2{
  grid-column: 1;
  grid-row: 1;
}


.active-instrument{
  border: 1px solid rgba(255, 0, 0, .5);
}
.inactive-instrument{
  border: 1px solid rgba(255, 0, 0, 0);
}
/*.layer1 span{
  color: #fff;
  background: #000cf6;
}

.layer2{
  background: rgba(255, 0, 0, 0.4);
}
*/

.instrument-widget {
    display: flex;
/*
    justify-content: flex-start;*/
    /*align-items: center;*/
    width:95%;
    padding: 30px 20px 0;
    border: 1px solid #efefef;
    border-bottom: 1px solid #cecece;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #333333;
}


.positions-message.accepted.show{
  color:green;
  transition:color 200ms ease-in;
}


.positions-message.error.show{
  color:red;
  transition:color 200ms ease-in;
}







.color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
}















header > p {
    font-family: VT323, monospace;
    color: whitesmoke;
    font-size: 50px;
    margin-left: 60px;
}

.new-instrument-widget {
    float: right;
    margin: auto;
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
}


.rack-instrument-widget {
    float: left;
    margin: auto;
    /*width: 90%;*/
    width:500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
}


.control-component-widget {
    float: right;
    margin: auto;
    /*width: 90%;*/
    width:540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    padding: 10px;
}


.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button5:hover {
  background-color: #555555;
  color: white;
}

.parentContainer{
    background-color: black;
    min-width: 1100px;
}

.rack-instrument-widget {
    top: 0px;
    left: 5%;
    width: 505px;
    position: absolute;
}


.example-component {
  width: 100px;
  height: 100px;
  background-color: red;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden; 
}
.example-component.show {
  opacity: 1;
  visibility: visible; 
}

.Petr {
  cursor: default;
}