<!doctype html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <title>Picarro Front Page</title>

        <link rel="stylesheet" type="text/css" href="/static/css/leaflet.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/picarro_bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/public_url/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/public_url/bootstrap-responsive.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/front_page.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/ui-darkness/jquery-ui-1.10.2.custom.css" />

        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="/static/js/google_analytics.js"></script>
        <script type="text/javascript" src="/static/js/mouseflow.js"></script>
        <script type="text/javascript" src="/static/leaflet.js"></script>
        <script type="text/javascript" src="/static/js/investigator/d3.v3.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript" src="/static/js/investigator/jquery-1.9.0.js"></script>
        <script type="text/javascript" src="/static/js/investigator/jquery-ui-1.10.0.custom.js"></script>
        <script type="text/javascript" src="/static/js/jquery.jsonp-2.4.0.min.js"></script>
        <script type="text/javascript" src="/static/js/p3apiservice.js"></script>
        <script type="text/javascript" src="/static/js/DateFormat.js"></script>
        <script type="text/javascript" src="/static/js/store.js"></script>
        <script type="text/javascript" src="/static/js/investigator/utils.js"></script>
        <script type="text/javascript" src="/static/js/investigator/d3.v3.js"></script>
        <script type="text/javascript" src="/static/js/public_url/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/jquery.flot.min.js"></script>
        <script type="text/javascript" src="/static/js/investigator/jquery.flot.selection.min.js"></script>
        <script type="text/javascript" src="/static/js/investigator/jquery.flot.crosshair.js"></script>        
        <script type="text/javascript" src="/static/js/front_page/jquery-ui-1.10.2.custom.min.js"></script>        
        
        
        <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" language="javascript">
            var gi = "test";
            google.load("earth", "1");

            function init() {
              google.earth.createInstance('ge_container', initCB, failureCB);
            }

            function initCB(instance) {
                ge = instance;
                gi = ge;
                ge.getWindow().setVisibility(true);
                // var link = ge.createLink('');
                // var href = 'http://localhost:5000/static/test3.kml'
                // link.setHref(href);

                // var networkLink = ge.createNetworkLink('');
                // networkLink.set(link, true, true); // Sets the link, refreshVisibility, and flyToView

                // ge.getFeatures().appendChild(networkLink);
                // GoogleEarth.setView(48.761, -121.794);
                GoogleEarth.init();

                // setTimeout(function(){
                //     GoogleEarth.renderSample();
                // }, 1000)

            }

            function failureCB(errorCode) {
            }

            google.setOnLoadCallback(init);
        </script>
        <script type="text/javascript" src="/static/js/front_page/google_earth.js"></script>
        <script type="text/javascript" src="/static/js/front_page/data_store.js"></script>
        <script type="text/javascript" src="/static/js/front_page/front_page.js"></script>
    </head>
    <body class="horizontal-layout">
    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Make public maker</h3>
      </div>
      <div class="modal-body">
        <h4>Set KML Baseline</h4>
        <div id='modal-chart'></div>
        <div id='share_url'><input class='share-input'/></div>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" id="btn_modal_share">Share Log</button>
      </div>
    </div>

    <div class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-inner">            
                <div class='logo-container'>
                    <img height="25px" width="157px" src="/static/images/picarro_logo_25.png" alt="Picarro">
                </div>
                <div id="live_view">
                    <a href='/investigator?prime=false&anz=CFADS2290'><button type="button" class='btn btn-primary' id="live_view">Live</button></a>
                </div>
                <div class='layout-container'></div>
            </div>
       </div>
    </div>

    <div class="container main-body">
        <div id="accordion-container">  
            <div id="accordion-header" class="layout-header">
                <span>Select your run:</span>
                <span id="date-picker"><input type="text" id="datepicker" /></span>
            </div>      
            <div class="accordion" id="accordion2"></div>  
        </div>
        <div id="map-container">  
            <div id="map-header" class="layout-header"><span>Location</span></div>      
             <div id='map_container'></div>
        </div>
        <div id="ge-container">  
            <div id="ge-header" class="layout-header"><span>Plume Map</span></div>      
            <div id='ge_container'></div>
        </div>
    </div>  

    <div class="navbar-bottom">
        <div class="container">
            <div class='feedback-container'>
                <img height="52px" width="155px" src="/static/images/give_feedback.png" alt="Picarro">
            </div>
            <div class='powered-container'>
                <img height="77px" width="167px" src="/static/images/powered_by_p3.png" alt="Picarro">
            </div>
            
        </div>
    </div>
    </body>
</html>    
