{% extends "layout_ben.html" %}

{% block head %}
    <script type="text/javascript">
    var _par = {"center_latitude":{{ center_latitude }},
                "center_longitude":{{ center_longitude }} };
    var init_vars = false;
    </script>
    <script>L_PREFER_CANVAS = true;</script>
    <script type="text/javascript" src="{{ url_for('static',filename='leaflet.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/investigator.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/leaflet.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/ui-darkness/jquery-ui-1.10.2.custom.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/colorbrewer.css') }}" />
    <script type="text/javascript" src="{{ url_for('static',filename='pcookie.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='plats.js') }}"></script>
    
    <script type="text/javascript" src="{{ url_for('static',filename='js/investigator/utils.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/investigator/templates.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/investigator/d3.v3.js') }}"></script>
    <script type="text/javascript" src="/static/js/DateFormat.js"></script>

    <script src="/static/js/investigator/QuadTree.js"></script>
    <script src="/static/js/investigator/L.TileLayer.MaskCanvas.js"></script>

    <script type="text/javascript" src="{{ url_for('static',filename='js/investigator/jquery.flot.selection.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/investigator/jquery.flot.crosshair.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/investigator/jquery.flot.threshold.min.js') }}"></script>    <script type="text/javascript" src="{{ url_for('static',filename='js/investigator/jquery.tappable.js') }}"></script>
    
    <script type="text/javascript" src="{{ url_for('static',filename='js/investigator/mapsApplicationInvestigator_ben.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/p3apiservice.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/investigator/controller.js') }}"></script>
    <style>

    </style>
{% endblock %}

{% block body %}
  <div id="modal_restart_log" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close btn-close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Restart Data Logs?</h3>
    </div>
    <div class="modal-body">
      
    </div>
    <div class="modal-footer">
      <button class="btn btn-close" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary" id="btn_restart_log">Restart Log</button>
    </div>
  </div>
  <div id="modal_shutdown_analyzer" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close btn-close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Shutdown Analyzer?</h3>
    </div>
    <div class="modal-body">
      
    </div>
    <div class="modal-footer">
      <button class="btn btn-close" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary" id="btn_shutdown_analyzer">Shutdown</button>
    </div>
  </div>
  <canvas id="canvas_bubbles" width="138" height="550"></canvas>
  <canvas id="canvas_wind" width="138" height="550"></canvas>
  <canvas id="canvas_extras" width="138" height="550"></canvas>
  <div id='pageContainer'>
    <div id='pageContent'>
      <div id='map_controls'>
        <div id="map2_canvas"></div>
        <div id="map2_flot"></div>
        <div id="map_realtime_flot"></div>
        <div id="realtime_display">
          <div id='realtime_num'>2.05</div>
          <div id='countdown_timer'>9:00</div>
        </div>
        <canvas id="canvas_rose" width="200px" height="200px"></canvas>
        <canvas id="canvas_rose_arrow" width="240px" height="240px"></canvas>
      </div>
      <div id='car_controls'>
        <div class="icon selected" id="car_signal-top"><span>MAST</span></div>
        <div class="icon" id="car_signal-front"><span>BUMPER</span></div>
      </div>
      <div id='capture_controls'>
        <div class="icon" id="btn_capture_manual"><span>Manual</span><span class="trigger-close"></span></div>
        <div class="icon" id="btn_capture_trigger"><span>Arm</span><span class="trigger-close"></span></div>
      </div>
      <div id='setting_controls'>
        <div class='control-header'>
          <h1>Settings</h1>
          <div class='control-close'>X</div>

          <div class="settings-group">
            <div class="settings-group-header">Analyzer</div>
            <div class='settings-wrapper'>
              <div id='btn_restart' class="settings-btn-wrapper">
                <div class="setting-icon setting-icon-restart"></div>
                <div class="setting-label">Restart Log</div>
              </div>
              <div id='btn_shutdown' class="settings-btn-wrapper">
                <div class="setting-icon setting-icon-power"></div>
                <div class="setting-label">Power Off</div>
              </div>
            </div>
          </div>

          <div class="settings-group">
            <div class="settings-group-header">Calibration</div>
            <div class='settings-wrapper'>
              <div id='btn_start_iso' class="settings-btn-wrapper settings-closable">
                <div class="setting-icon setting-icon-isotope"></div>
                <div class="setting-label">Isotopic</div>
                <div class="btn-close"></div>
              </div>
              <div id='btn_start_conc' class="settings-btn-wrapper settings-closable">
                <div class="setting-icon setting-icon-cardio"></div>
                <div class="setting-label">Concentration</div>
                <div class="btn-close"></div>
              </div>
            </div>
          </div>

          <div class="settings-group settings-group-small">
            <div class="settings-group-header">Google Earth</div>
            <div class='settings-wrapper'>
              <div class="settings-btn-wrapper">
                <div class="setting-icon setting-icon-globe"></div>
                <div class="setting-label">Go Live</div>
              </div>
            </div>
          </div>
                    
        </div>
      </div>
      <div id='legend-controls'>
        <div class='legend-controls-inner'>

        </div>
        <!-- <div id='range_slider'></div>
        <div id='time_slider'></div> -->
      </div>
    </div>
    <div id='pageFooter'>
      <span class='icon icon-car' id='btn_car_controls'></span>
      <span class='icon-spacer'></span>
      <span class='icon icon-setting' id='btn_setting_controls'></span>
      <span class='icon-spacer'></span>
      <span class='icon icon-map selected' id='btn_map_controls'></span>
      <span class='icon-spacer'></span>
      <span class='icon icon-chart selected' id='btn_chart_controls'></span>
      <span class='icon-spacer'></span>
      <span class='icon icon-wind' id='btn_wind_controls'></span>
      <span class='icon-spacer'></span>
      <span class='icon icon-cursor' id='btn_cursor_controls'></span>
      <span class='icon-spacer'></span>      
      <span class='icon icon-pause selected' id='btn_pause_controls'></span>
      <span class='icon-spacer'></span>
      <span class='icon icon-legend selected' id='btn_legend_controls'></span>
      <span class='icon-spacer'></span>
      <span class='icon icon-iso' id='btn_iso_controls'></span>
      <span class='icon-spacer'></span>
      <span class='icon icon-logo' id='btn_logo_controls'></span>
    </div>
  </div>

        <!-- 

       -->


{% endblock %}
