<!doctype html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="viewport" id="meta_viewport" content="initial-scale=1,maximum-scale=1,user-scalable=0"/>
        <title>Picarro Methane Detector</title>
        <script type="text/javascript" src="/static/js/investigator/jquery-1.9.0.js"></script>
        <script type="text/javascript" src="/static/js/investigator/jquery-ui-1.10.0.custom.js"></script>
        <script type="text/javascript" src="/static/bootstrap-dropdown.js"></script>
        <script type="text/javascript" src="/static/bootstrap-button.js"></script>
        <script type="text/javascript" src="/static/bootstrap-modal.js"></script>
        <script type="text/javascript" src="/static/bootstrap-transition.js"></script>
        <link rel=stylesheet type=text/css href="/static/css/picarro_bootstrap.css" />
        <script type="text/javascript" src="/static/jquery.sparkline.min.js"></script>
        <script type="text/javascript" src="/static/jquery.tablesorter.min.js"></script>
        <script type="text/javascript" src="/static/jquery.jsonp-2.3.0.min.js"></script>
        <script type="text/javascript" src="/static/jquery.flot.min.js"></script>
        <script type="text/javascript" src="/static/geohash.js"></script>
        <script type="text/javascript" src="/static/js/p3apiservice.js"></script>

        {% block head %}{% endblock %}

        <script type="text/javascript" language="javascript">
        $(document).ready(function(){
                winH = window.innerHeight;
                winW = window.innerWidth;
                mapmaster.Controller.initialize(winH, winW);
               // resize_me();
        })
        

        </script>
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>    
