{% extends "layout.html" %}

{% block head %}
    <script type="text/javascript">
    var _par = {"center_latitude":{{ center_latitude }}, 
                "center_longitude":{{ center_longitude }} };
    var init_vars = false;
    </script>
    <script type="text/javascript" src="{{ url_for('static',filename='pcookie.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='plats.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='mapsApplication.js') }}"></script>
    <style>
img.follow
{
width:48px;
height:48px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -4px 0px;
}
img.follow-checked
{
width:48px;
height:48px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -60px 0px;
}
img.overlay
{
width:48px;
height:48px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -116px -1px;
}
img.overlay-checked
{
width:48px;
height:48px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -170px -1px;
}
img.wifi-0
{
width:48px;
height:48px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -224px -1px;
}
img.wifi-1
{
width:48px;
height:48px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -280px -1px;
}
img.wifi-2
{
width:48px;
height:48px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -336px -2px;
}
img.wifi-3
{
width:48px;
height:48px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -390px -2px;
}
img.stream-ok
{
width:40px;
height:40px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -448px -4px;
}
img.stream-warning
{
width:40px;
height:40px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -496px -4px;
}
img.stream-failed
{
width:40px;
height:40px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -545px -5px;
}
img.analyzer-ok
{
width:40px;
height:40px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -592px -4px;
}
img.analyzer-failed
{
width:40px;
height:40px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -638px -4px;
}
img.gps-ok
{
width:40px;
height:40px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -683px -4px;
}
img.gps-failed
{
width:40px;
height:40px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -733px -4px;
}
img.gps-uninstalled
{
width:40px;
height:40px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -783px -4px;
}
img.gps-warning
{
width:40px;
height:40px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -983px -4px;
}
img.ws-ok
{
width:40px;
height:40px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -832px -5px;
}
img.ws-failed
{
width:40px;
height:40px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -883px -5px;
}
img.ws-uninstalled
{
width:40px;
height:40px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -933px -5px;
}
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <!--
        <audio id="plume">
           <source src="/static/sound/beep-7.mp3" />
           <source src="/static/sound/beep-7.wav" />
        </audio>
        -->
        <div class="span3" id="id_sidebar" data-no-collapse="true" style="margin-left:0;">
            <div class="sidebar-nav">
                <div class="navbar navbar-fixed-top" style="height: 45px;" id="id_topleft">
                   <div class="navbar-left-inner" style="height: 45px;" id="id_topleftbar">
                       <div id="id_p3_icon">
                        <img alt="Picarro" src="/static/images/pcube_ppp_logo_60.png" height="40" />
                       </div>
                   </div>
                </div><br /><br /><br />
                <div style="height: 45px;" id="id_sidebar_spacer"></div>

                <span>
                    <form id="setoptions" method="get">
                    
                    <div id="id_side_modal_span">
                      <div id="id_smsg"></div>
                      <div id="id_smodal"></div>
                      <div id="id_smod_change"></div>
                    </div>
                    <div id="id_modal_span">
                      <div id="id_msg"></div>
                      <div id="id_modal"></div>
                      <div id="id_weather" class="modal fade hide"></div>
                      <div id="id_mod_change"></div>
                    </div>
                    
                        <br />
                        
                        <fieldset>
                          <div class="clearfix">
                            <ul class="unstyled">
                            <div style="margin-left:2px; height:25px;" id="placeholder"><img alt="Initializing Route Trace" src="/static/images/ajax-loader.gif" /></div>
                            <div style="margin-left:2px; margin-top:10px; margin-bottom:10px;" id="concAndWind">
                                <span style="margin-right:28px;" id="concData"></span>
                                <span id="windData"></span>
                            </div>
                                <span id="concentrationSparkline"></span>
                                  <span id="windRose">
                                      <canvas id="windCanvas" width="50" height="50"/>
                                  </span>
                                <li>
                                    <div id="id_statusPane"></div>
                                    <div id="id_followPane"></div>
                                    <div id="id_modePane"></div>
                                      <div id="id_primeControlButton_span"></div>
                                      <span id="id_exportButton_span"></span>
                                </li>
                                <li>
                                      <input style="width: 100%;" type="submit" name="F3967418176244ND1N5" class="btn btn-primary btn-fullwidth" value="Select Surveyor" />
                                </li>
                            </ul>
                          </div>
                        </fieldset>
                    </form>
                </span>

            </div>
        </div>   

        <div class="span10" id="id_content">
            <span>
            
            <div class="navbar navbar-fixed-top" id="id_topright">
                    <div class="navbar-inner" id="id_topbar">
                          <div class="container">
                          
                            <ul class="nav nav-pills pull-right">
                              <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span>Prime User</span><b class="caret"></b></a>
                              </li>
                            </ul>
                          
                        </div>
                    </div>
            </div>            
            </span>
            <script type="text/javascript">$('.dropdown-toggle').dropdown()</script>
            
            <div id="id_content_spacer" style="height: 45px;"></div>
            <div id="id_content_title">
                <h2>Picarro Surveyor&#8482; for Natural Gas Leaks</h2>
                <br/>
            </div>

            <span>
              <div class="row">
                <div id="id_feedback">
                  <div style="float:left;" id="id_msg_placeholder">
                  </div>
                  <div style="float:left;">      </div>
                  <div style="float:left;" id="concData"></div>
                  <div style="float:left;">      </div>
                  <div style="float:left;" id="counter"></div>
                </div>
                <br />
                <div style="width:100%; top: 5px; bottom: 5px;" id="map_canvas"></div>
              </div>
            </span>
            
        </div>

    </div>
    </div>
{% endblock %}
