{% extends "layout.html" %}

{% block head %}
    <script type="text/javascript">
    var _par = {"center_latitude":{{ center_latitude }}, 
                "center_longitude":{{ center_longitude }} };
    var init_vars = false;
    </script>
    <script type="text/javascript" src="{{ url_for('static',filename='pcookie.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='plats.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='mapsApplication.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='p3restapi.js') }}"></script>
    <style>
img.follow
{
width:48px;
height:48px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -4px 0px;
}
img.follow-checked
{
width:48px;
height:48px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -60px 0px;
}
img.overlay
{
width:48px;
height:48px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -116px -1px;
}
img.overlay-checked
{
width:48px;
height:48px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -170px -1px;
}
img.wifi-0
{
width:48px;
height:48px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -224px -1px;
}
img.wifi-1
{
width:48px;
height:48px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -280px -1px;
}
img.wifi-2
{
width:48px;
height:48px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -336px -2px;
}
img.wifi-3
{
width:48px;
height:48px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -390px -2px;
}
img.stream-ok
{
width:40px;
height:40px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -448px -4px;
}
img.stream-warning
{
width:40px;
height:40px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -496px -4px;
}
img.stream-failed
{
width:40px;
height:40px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -545px -5px;
}
img.analyzer-ok
{
width:40px;
height:40px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -592px -4px;
}
img.analyzer-failed
{
width:40px;
height:40px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -638px -4px;
}
img.gps-ok
{
width:40px;
height:40px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -683px -4px;
}
img.gps-failed
{
width:40px;
height:40px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -733px -4px;
}
img.gps-uninstalled
{
width:40px;
height:40px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -783px -4px;
}
img.gps-warning
{
width:40px;
height:40px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -983px -4px;
}
img.ws-ok
{
width:40px;
height:40px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -832px -5px;
}
img.ws-failed
{
width:40px;
height:40px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -883px -5px;
}
img.ws-uninstalled
{
width:40px;
height:40px;
background:url("{{ url_for('static',filename='images/icons/icon-combined-all-v5.png') }}") -933px -5px;
}
    </style>
{% endblock %}

{% block body %}
    <div id="id_topbar" class="navbar navbar-fixed-top">
      <div style="height: 45px;" class="navbar-left-inner">
        <div style="height: 45px;" class="container">
          <div>
            <img alt="Picarro" height="40" src="/static/images/pcube_ppp_logo_60.png" class="pull-left">
          </div>
          <div id="id_nav_title" style="color:#585858;margin-right: 10px; margin-top: 5px;" class="pull-right">
            <h3>Picarro Surveyor™ <span style="color: #008000">for Natural Gas Leaks</span></h3>
          </div>
        </div>
      </div>
    </div>
    <div id="id_p3_canvas" class="container-fluid">
    </div>
    <br>
    <div id="real_content" class="row">
      <div id="id_p3_gdumap" class="container-fluid">
       <div class="row">
          <div id="id_sidebar" data-no-collapse="true" class="span3">
            <span>
              <div style="margin-left:10px">
                <div id="id_side_modal_span"> 
                  <div id="id_smsg">          
                  </div>
                  <div id="id_smodal">          
                  </div>
                  <div id="id_smod_change"> 
                  </div>
                </div>
                <div id="id_modal_span">
                  <div id="id_msg">        
                  </div>
                  <div id="id_modal">        
                  </div>
                  <div id="id_weather" class="modal fade hide">
                  </div>
                  <div id="id_mod_change">
                  </div>
                </div>
                <fieldset>
                  <div class="clearfix">
                    <ul class="unstyled">
                      <div id="placeholder" style="margin-left:2px; height:25px;">
                        <img src="/stage//img/ajax-loader.gif" alt="Initializing Route Trace">
                      </div>
                      <div id="concAndWind" style="margin-left:2px; margin-top:10px; margin-bottom:10px;">
                        <span id="concData" style="margin-right:28px;">
                        </span>
                        <span id="windData">
                        </span>
                      </div>
                      <span id="concentrationSparkline">
                      </span>
                      <span id="windRose">
                        <canvas id="windCanvas" width="50" height="50"/>
                      </span>
                      <li>
                        <div id="id_statusPane">
                        </div>
                        <div id="id_followPane">
                        </div>
                        <div id="id_modePane">
                        </div>
                        <div id="id_primeControlButton_span">
                        </div><!-- button to select anz goes here <entry:submitVals/>-->
                        <span id="id_exportButton_span">
                        </span>
                      </li>
                    </ul>
                  </div>
                </fieldset>
              </div>
            </span>
          </div>
          <div id="top_right" style="width:100%" class="span9">
            <div id="id_feedback" class="row">
            </div>
            <div id="top_right" style="width:100%" class="span9">
              <div id="id_feedback" class="row">
            </div>
            <div id="map_canvas" style="margin-top: 10px">          
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>     
{% endblock %}
