.log-wrapper{
	cursor: pointer;

}

.log-wrapper.selected{
	background-color: #ddd;
	setLatLngsetLatLng
}

.log-wrapper:hover{
	background-color: #efefef;
}

.mini-flot{
	width: 100%;
	height: 100px;
	display:none;
}

.log-wrapper .bar-wrapper{
    height: 20px;
    left: 283px;
    margin-bottom: -25px;
    position: relative;
    top: -34px;
    width: 46%;
}

.log-wrapper .btn{
    margin-right:5px;
}

.logo-container{
    background-color: white;
    height: 40px;
    left: 0;
    position: absolute;
    width: 127px;
}

.logo-container img{
	margin-left:20px;
}

.list-hr{
    margin-top: -10px;
    margin-bottom: 12px;
}

#map_container{
    width:100%;
    min-height: 300px;
    background-color: white;
}

#ge_container{
	width:100%;
	height: 300px;
	background-color: white;
}

#accordion2{
    display: inline-block;
    height: 400px;
    overflow-y: scroll;
    position: relative;
    width: 100%;
    /*border: 1px solid black;*/
}

#modal-chart{
    display: inline-block;
    width:450px;
    height: 200px;
}

#modal-selection{
    background-color: rgba(0, 0, 255, 0.5);
    bottom: 7px;
    display: inline-block;
    height: 40px;
    left: 26px;
    position: absolute;
    right: 8px;
    width: auto;
}

.log-wrapper h5 .icon-minus{
    display:none;
}

.log-wrapper h5.toggle-open .icon-minus{
    display: inline-block;
}

.log-wrapper h5 .icon-plus{
    display:inline-block;
}

.log-wrapper h5.toggle-open .icon-plus{
    display: none;
}

.share-input{
    margin-left:19px;
    width:415px;
}

.log-content{
    height: 0;
    width:500px;
    display: inline-block;
    /*background-color: white;*/
    overflow: hidden;
    margin-left: 10px;
    margin-bottom: 10px;
}

#modal-value{
    background-color: white;
    border: 1px solid #999999;
    border-radius: 6px 6px 6px 6px;
    display: inline-block;
    font-size: 19px;
    font-weight: bold;
    height: 25px;
    left: 100%;
    padding-left: 10px;
    padding-top: 5px;
    position: absolute;
    text-align: left;
    top: 10px;
    width: 59px;
    margin-top:-15px;
}