#!usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Name=Integration Mode Switcher
Icon=/Picarro/G2000/Assets/icons/Picarro_icon.ico
Exec=bash -c 'cd /Picarro/G2000/Host/Utilities/CoordinatorLauncher;python -O CoordinatorLauncher.py -c ../../../AppConfig/Config/Utilities/CoordinatorLauncher_Integration.ini'
Terminal=false
Name[C]=Integration Coordinator Launcher
