#!usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Integration Tool
Icon=/Picarro/G2000/Assets/icons/Integration_icon.ico
Exec=bash -c 'cd /Picarro/G2000/Host/Utilities/IntegrationTool;python -O IntegrationTool.py -c ../../../CommonConfig/Config/Utilities/IntegrationTool.ini'
Terminal=true