#!usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Integration Mode Switcher
Icon=/Picarro/G2000/Assets/icons/Picarro_icon.ico
Exec=bash -c 'cd /Picarro/G2000/Host/Utilities/SupervisorLauncher;python -O SupervisorLauncher.py -v -k -c ../../../AppConfig/Config/Utilities/SupervisorLauncher_Integration.ini'
Terminal=false